.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row > .triangle-left {
    display: flex;
    flex: 2 2 50px;
    align-items: center;
    justify-content: center;
}

.flex-row > .triangle-right {
    flex: 2 2 50px;
    align-items: center;
    justify-content: center;
}

.flex-row > .tasks-container {
    flex: 6 6 410px;
}