.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-title {
  color: #61dafb;
}

.app-slogan {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  font-style: italic;
  font-size: 1.2rem;
  color: rgba(0, 217, 255, 0.897);
}

.app-slogan:after,
.app-slogan::before {
  content: '';
  position: absolute;
  bottom: 2px;
  display: inline-block;
  width: 45px;
  height: 2px;
  background-color: #82e2ee;
}

.app-slogan::before {
  left: -46px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 8rem;
  font-weight: bold;
  line-height: 100%;
  height: 100%;
  margin: 1px;
  padding: 0;
  text-align: center;
  width: calc(100%/3 - 2px);

}

.square:hover {
  transform: scale(.95);
  transition: all .4s ease-out;
}

.square:focus {
  outline: none;
}

.board-winner {
  font-size: 4rem;
  color: rgba(36, 230, 101);
}

.board-status {
  margin: 2rem 0;
  color: aquamarine;
}

.board-group {
  width: 500px;
  height: 500px;
}

.board-group .board-row {
  width: calc(100% - 2px);
  height: calc(100%/3 - 2px);
}

.board-group .board-row:after {
  clear: both;
  content: "";
  display: table;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}